<html>
<head>
    <title>List of Job Openings</title>
</head>
<body>
    <h1>List of Job Openings</h1>
    <p>{{ newjobs.getTitle }}</p>
    <p>{{ newjobs.getDescription }}</p>
    <p>{{ newjobs.getName }}</p>
    <p>{{ newjobs.getEmail }}</p>
    <p>{{ newjobs.getPhone }}</p>
    <p><a href='/'>Home.</a></p>
</body>
</html>
